---

---

<header>
    <a href="/" class="homecontainer">
        <div class="logo">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
            </svg>
        </div>
        <h1>Infonavit Test</h1>
    </a>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/DataNss">Data Nss</a></li>
            <li><a href="/getNss">Get Nss</a></li>
        </ul>
    </nav>
</header>

<style>
	header {
		/* background-color: #ececec; */
        background-color: #ffffff50;
		padding: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
        padding: 0 20px;
        color: #000;
        border-bottom: 1px solid #000;
	}
    nav ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 10px;
    }
    nav ul li {
        margin: 0 10px;
    }
    nav ul li a {
        text-decoration: none;
        color: #000;
    }
    button {
        background-color: #fff;
        color: #000;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
    }
    a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
        font-size: 20px;
    }
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: #000; */
        /* color: #fff; */
        padding: 10px;
        border-radius: 50%;
        margin-right: 10px;
        width: 50px;
        height: 50px;
    }
    .homecontainer {
        display: flex;  
        align-items: center;
        justify-content: center;
    }
</style>